<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="http://20.249.20.144:8080/external/socket.io.min.js"></script>
	<style>
		.ui-sheet {
			display: none;
		}
	</style>
</head>
<body>
	<div id="ui-container">
		<div class="ui-sheets">
			<%= require('html-loader!./views/common.ejs').default %>
			<%= require('html-loader!./views/mainScene.ejs').default %>
			<%= require('html-loader!./views/diceScene.ejs').default %>
			<%= require('html-loader!./views/gameScene.ejs').default %>
		</div>
	</div>
</body>
</html>
