<div class="ui-sheet ui-common-unitReward fadeIn">
    <div class="ui-unitReward-title">유닛 선택</div>
    <ul class="ui-unitReward-unitList">
        <li class="ui-unitReward-unit">
            <div class="ui-unitReward-unitDisplayImage"></div>
            <div class="ui-unitReward-unitTitle"></div>
            <div class="ui-unitReward-unitType"></div>
        </li>
    </ul>
</div>