<div class="ui-sheet ui-common-unitReward fadeIn">
    <div class="ui-unitReward-title">유닛 선택</div>
    <ul class="ui-unitReward-unitList">
        <li class="ui-unitReward-unit" idx="1" tier="1">
            <div class="ui-unitReward-unitDisplayImage"></div>
            <div class="ui-unitReward-unitTitle" style="color: gold; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;"></div>
            <div class="ui-unitReward-unitType"></div>
            <div class="ui-unitReward-unitSpec">
                <div class="ui-unitReward-unitSpec-atk"></div>
                <div class="ui-unitReward-unitSpec-aspd"></div>
                <div class="ui-unitReward-unitSpec-range"></div>
            </div>
            <div class="ui-unitReward-unitSkill"></div>
        </li>
        <li class="ui-unitReward-unit" idx="2" tier="2">
            <div class="ui-unitReward-unitDisplayImage"></div>
            <div class="ui-unitReward-unitTitle" style="color: gold; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;"></div>
            <div class="ui-unitReward-unitType"></div>
            <div class="ui-unitReward-unitSpec">
                <div class="ui-unitReward-unitSpec-atk"></div>
                <div class="ui-unitReward-unitSpec-aspd"></div>
                <div class="ui-unitReward-unitSpec-range"></div>
            </div>
            <div class="ui-unitReward-unitSkill"></div>
        </li>
        <li class="ui-unitReward-unit" idx="3" tier="3">
            <div class="ui-unitReward-unitDisplayImage"></div>
            <div class="ui-unitReward-unitTitle" style="color: gold; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;"></div>
            <div class="ui-unitReward-unitType"></div>
            <div class="ui-unitReward-unitSpec">
                <div class="ui-unitReward-unitSpec-atk"></div>
                <div class="ui-unitReward-unitSpec-aspd"></div>
                <div class="ui-unitReward-unitSpec-range"></div>
            </div>
            <div class="ui-unitReward-unitSkill"></div>
        </li>
    </ul>
</div>

<div class="ui-sheet ui-common-shop fadeIn">
    <div class="ui-shop-title">상점</div>
    <img class="ui-shop-close" src="../src/assets/images/close.png">
    <ul class="ui-shop-itemList">
        <li class="ui-shop-item" idx="1">
            <div class="ui-shop-itemDisplayImage"></div>
            <div class="ui-shop-itemTitle" style="color: gold; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;"></div>
            <div class="ui-shop-itemType"></div>
            <div class="ui-shop-itemSpec">
                <div class="ui-shop-itemSpec-atk"></div>
                <div class="ui-shop-itemSpec-aspd"></div>
                <div class="ui-shop-itemSpec-range"></div>
            </div>
            <div class="ui-shop-itemSkill"></div>
        </li>
        <li class="ui-shop-item" idx="2">
            <div class="ui-shop-itemDisplayImage"></div>
            <div class="ui-shop-itemTitle" style="color: gold; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;"></div>
            <div class="ui-shop-itemType"></div>
            <div class="ui-shop-itemSpec">
                <div class="ui-shop-itemSpec-atk"></div>
                <div class="ui-shop-itemSpec-aspd"></div>
                <div class="ui-shop-itemSpec-range"></div>
            </div>
            <div class="ui-shop-itemSkill"></div>
        </li>
        <li class="ui-shop-item" idx="3">
            <div class="ui-shop-itemDisplayImage"></div>
            <div class="ui-shop-itemTitle" style="color: gold; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;"></div>
            <div class="ui-shop-itemType"></div>
            <div class="ui-shop-itemSpec">
                <div class="ui-shop-itemSpec-atk"></div>
                <div class="ui-shop-itemSpec-aspd"></div>
                <div class="ui-shop-itemSpec-range"></div>
            </div>
            <div class="ui-shop-itemSkill"></div>
        </li>
    </ul>
</div>