.ui-common-unitReward {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 10%;
    left: 20%;

    background-color: rgba(220, 220, 220, 0.8);
    border: 5px solid black;
}

.ui-common-unitReward .ui-unitReward-title {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 10%;
    font-size: 1.2rem;
    text-align: center;
}

.ui-common-unitReward .ui-unitReward-unitList {
    list-style: none;
    margin: 0;
    padding: 0;

    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 80%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border: 2px solid black;
    border-radius: 5px;

    background-color: rgba(220, 220, 220, 0.8);
}

.ui-common-unitReward .ui-unitReward-unit {
    position: relative;

    width: 30%;
    height: 90%;
    border: 1px solid black;

    text-align: center;
    cursor: pointer;
}

.ui-common-unitReward .ui-unitReward-unit:hover {
    background-color: rgba(160, 160, 160, 0.8);
}

.ui-common-unitReward .ui-unitReward-unitDisplayImage {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    aspect-ratio: 1 / 1;
    border: 1px solid black;

    background-size: cover;
}

.ui-common-unitReward .ui-unitReward-unitTitle {
    position: absolute;
    top: 55%;
    width: 100%;
    font-size: 1.2rem;
}

.ui-common-unitReward .ui-unitReward-unitType {
    position: absolute;
    top: 63%;
    width: 100%;
    font-size: 0.9rem;
}

.ui-common-unitReward .ui-unitReward-unitSpec {
    position: absolute;
    top: 75%;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}
.ui-common-unitReward .ui-unitReward-unitSkillContainer {
    display: flex;
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 8%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.ui-unitReward-unitSkillContainer .ui-unitReward-unitSkill {
    font-size: 0.7rem;
    width: 90%;
    animation: none;
}
@keyframes line2 {
    from {
        transform: translateY(25%);
    }
    to {
    transform: translateY(-25%); 		
    }
}
/* @keyframes line3 {
    from {
        transform: translateY(25%);
    }
    to {
    transform: translateY(-50%); 		
    }
} */

.ui-common-shop {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 10%;
    left: 20%;

    background-color: rgba(220, 220, 220, 0.8);
    border: 5px solid black;
}

.ui-common-shop .ui-shop-title {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 10%;
    font-size: 1.2rem;
    text-align: center;
}

.ui-common-shop .ui-shop-close {
    height: 4.5%;
    position: absolute;
    top: 1.5%;
    left: 97%;

    cursor: pointer;
}

.ui-common-shop .ui-shop-itemList {
    list-style: none;
    margin: 0;
    padding: 0;

    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 80%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border: 2px solid black;
    border-radius: 5px;

    background-color: rgba(220, 220, 220, 0.8);
}

.ui-common-shop .ui-shop-item {
    position: relative;

    width: 30%;
    height: 90%;
    border: 1px solid black;

    text-align: center;
    cursor: pointer;
}

.ui-common-shop .ui-shop-item:hover {
    background-color: rgba(160, 160, 160, 0.8);
}

.ui-common-shop .ui-shop-itemDisplayImage {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    aspect-ratio: 1 / 1;
    border: 1px solid black;

    background-size: cover;
}

.ui-common-shop .ui-shop-itemTitle {
    position: absolute;
    top: 55%;
    width: 100%;
    font-size: 1.2rem;
}

.ui-common-shop .ui-shop-itemType {
    position: absolute;
    top: 63%;
    width: 100%;
    font-size: 0.9rem;
}

.ui-common-shop .ui-shop-itemSpec {
    position: absolute;
    top: 75%;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}
.ui-common-shop .ui-shop-itemSpec .ui-shop-itemSpec-gold {
    position: absolute;
    height: 4%;
}
.ui-common-shop .ui-shop-itemSkill {
    position: absolute;
    bottom: 5%;
    width: 100%;
    font-size: 1rem;
}

