<div class="ui-sheet ui-common-unitReward fadeIn">
    <div class="ui-unitReward-title">유닛 선택</div>
    <ul class="ui-unitReward-unitList">
        <li class="ui-unitReward-unit">
            <div class="ui-unitReward-unitDisplayImage testunitImage1"></div>
            <div class="ui-unitReward-unitTitle" style="color: gold;">VALKYRIE</div>
            <div class="ui-unitReward-unitType">Support</div>
            <div class="ui-unitReward-unitSpec">
                <div class="ui-unitReward-unitSpec-atk">ATK : 100</div>
                <div class="ui-unitReward-unitSpec-aspd">SPD : 0.8</div>
                <div class="ui-unitReward-unitSpec-range">RANGE : 500</div>
            </div>
            <div class="ui-unitReward-unitSkill">
                Skills : Shield of Light
            </div>
        </li>
        <li class="ui-unitReward-unit">
            <div class="ui-unitReward-unitDisplayImage testunitImage2"></div>
            <div class="ui-unitReward-unitTitle" style="color: gold;">IGNITER</div>
            <div class="ui-unitReward-unitType">Power</div>
            <div class="ui-unitReward-unitSpec">
                <div class="ui-unitReward-unitSpec-atk">ATK : 140</div>
                <div class="ui-unitReward-unitSpec-aspd">SPD : 0.6</div>
                <div class="ui-unitReward-unitSpec-range">RANGE : 700</div>
            </div>
            <div class="ui-unitReward-unitSkill">
                Skills : Ignite
            </div>
        </li>
        <li class="ui-unitReward-unit">
            <div class="ui-unitReward-unitDisplayImage testunitImage3"></div>
            <div class="ui-unitReward-unitTitle" style="color: gold;">ADVENTURER</div>
            <div class="ui-unitReward-unitType">Balance</div>
            <div class="ui-unitReward-unitSpec">
                <div class="ui-unitReward-unitSpec-atk">ATK : 120</div>
                <div class="ui-unitReward-unitSpec-aspd">SPD : 1</div>
                <div class="ui-unitReward-unitSpec-range">RANGE : 400</div>
            </div>
            <div class="ui-unitReward-unitSkill">
                Skills : Tutor
            </div>
        </li>
    </ul>
</div>