<div class="ui-sheet ui-diceScene-default">
    <div class="ui-choiceMessage">
        이번 라운드의 Choice는 <span class="ui-choiceMessage-value">28</span>입니다.
    </div>
    <div class="ui-topFloating">
        <div class="ui-round">Round <span class="ui-round-value">3</span></div>
        <div class="ui-enemycount">Monsters : <span class="ui-enemycount-value">25</span></div>
        <div class="ui-wavetype">Wave Type : <span class="ui-wavetype-value">Speed</span></div>
    </div>
    <div class="ui-keepArea">
        <img class="ui-dices" src="../src/assets/images/dice_animated_1.gif">
        <img class="ui-dices" src="../src/assets/images/dice_animated_2.gif">
        <img class="ui-dices" src="../src/assets/images/dice_animated_3.gif">
        <img class="ui-dices" src="../src/assets/images/dice_animated_4.gif">
        <img class="ui-dices" src="../src/assets/images/dice_animated_5.gif">
    </div>
    <div class="ui-diceArea">
        <img class="ui-dices" src="../src/assets/images/dice_animated_1.gif">
        <img class="ui-dices" src="../src/assets/images/dice_animated_2.gif">
        <img class="ui-dices" src="../src/assets/images/dice_animated_3.gif">
        <img class="ui-dices" src="../src/assets/images/dice_animated_4.gif">
        <img class="ui-dices" src="../src/assets/images/dice_animated_5.gif">
    </div>
    <div class="ui-bottomButtons">
        <div class="ui-diceButtonArea">
            <div class="ui-diceButtonText ui-diceRerollText">남은 횟수 : <span class="ui-rollcount-value">3</span></div>
            <div class="ui-diceButtons ui-diceRerollButton">굴리기</div>
        </div>
        <div class="ui-diceButtonArea">
            <div class="ui-diceButtonText ui-diceConfirmText">남은 시간 : <span class="ui-timelimit-value">20</span>초</div>
            <div class="ui-diceButtons ui-diceConfirmButton">확정</div>
        </div>
    </div>
</div>