.ui-dice {
    width: 15%;
    aspect-ratio: 1 / 1;
    background-size: cover;
}

.ui-dice-animated-1 { background-image: url('../src/assets/images/dice_animated_1.gif'); }
.ui-dice-animated-2 { background-image: url('../src/assets/images/dice_animated_2.gif'); }
.ui-dice-animated-3 { background-image: url('../src/assets/images/dice_animated_3.gif'); }
.ui-dice-animated-4 { background-image: url('../src/assets/images/dice_animated_4.gif'); }
.ui-dice-animated-5 { background-image: url('../src/assets/images/dice_animated_5.gif'); }

.ui-dice-1 { background-image: url('../src/assets/images/dice_1.png'); }
.ui-dice-2 { background-image: url('../src/assets/images/dice_2.png'); }
.ui-dice-3 { background-image: url('../src/assets/images/dice_3.png'); }
.ui-dice-4 { background-image: url('../src/assets/images/dice_4.png'); }
.ui-dice-5 { background-image: url('../src/assets/images/dice_5.png'); }
.ui-dice-6 { background-image: url('../src/assets/images/dice_6.png'); }

.ui-diceScene-default {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 10%;
    left: 20%;

    background-color: rgba(220, 220, 220, 0.8);
    border: 5px solid black;
}

.ui-diceScene-default .ui-choiceMessage {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 5%;

    text-align: center;
    font-size: 1.4rem;
}

.ui-diceScene-default .ui-choiceMessage-value {
    color: red;
}

.ui-diceScene-default .ui-keepArea-flag {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 15%;
    height: 15%;
    
    display: flex;
    align-items: center;
    justify-content: end;

    font-size: 1.4rem;
}

.ui-diceScene-default .ui-keepArea {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 15%;
    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ui-diceScene-default .ui-bestHand {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.1rem;
}

.ui-diceScene-default .ui-diceArea-flag {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 15%;
    height: 35%;
    
    display: flex;
    align-items: center;
    justify-content: end;

    font-size: 1.4rem;
}

.ui-diceScene-default .ui-diceArea {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 35%;
    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.ui-diceScene-default .ui-dices {
    width: 12%;
}

.ui-diceScene-default .ui-choicePredict {
    position: absolute;
    top: 65%;
    left: 30%;
    width: 40%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.1rem;
}

.ui-diceScene-default .ui-bottomButtons {
    position: absolute;
    bottom: 6%;
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: space-evenly;
}

.ui-diceScene-default .ui-diceButtonArea {
    width: 20%;
    height: 100%;

    font-size: 0.9rem;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui-diceScene-default .ui-diceButtonText {
    margin-bottom: 5%;
}

.ui-diceScene-default .ui-diceButtons {
    width: 50%;
    height: 100%;
    
    font-size: 1rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3px;
    border: 2px solid black;
    color: red;

    cursor: pointer;
}

.ui-diceScene-default .ui-diceButtons:hover {
    background-color: gray;
}

.ui-diceScene-result {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 10%;
    left: 20%;

    background-color: rgba(220, 220, 220, 0.8);
    border: 5px solid black;
}

.ui-diceScene-result .ui-titleArea {
    width: 100%;
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    height: 10%;
    align-content: center;
    align-items: center;
}

.ui-diceScene-result .ui-titleText {
    color: #FF6868;
    font-size: 1.5rem;
}

.ui-diceScene-result .ui-choiceMessage-value {
    font-size: 1.5rem;
    padding: 1%;
    border: 1px solid black;
    margin-left: 3%;
}

.ui-diceScene-result .ui-resultTable {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;

    font-size: 1.2rem;
}

.ui-diceScene-result th, .ui-diceScene-result td {
    width: 20%;
    text-align: center;
}