<div class="ui-sheet ui-diceScene-default fadeIn">
    <div class="ui-choiceMessage">
        이번 라운드의 Choice는 <span class="ui-choiceMessage-value"></span>입니다.
    </div>
    <div class="ui-keepArea-flag">Keep &gt;&gt;</div>
    <div class="ui-keepArea">
        
    </div>
    <div class="ui-diceArea-flag">Hand &gt;&gt;</div>
    <div class="ui-bestHand">Best :&nbsp;<span class="ui-bestHand-value text-outline">-</span>&nbsp;, Choice :&nbsp;<span class="ui-currentChoice-value"></span></div>
    <div class="ui-diceArea">
        
    </div>
    <div class="ui-bottomButtons">
        <div class="ui-diceButtonArea">
            <div class="ui-diceButtonText ui-diceRerollText">남은 횟수 : <span class="ui-rollcount-value"></span></div>
            <div class="ui-diceButtons ui-diceRerollButton">굴리기</div>
        </div>
        <div class="ui-diceButtonArea">
            <div class="ui-diceButtonText ui-diceConfirmText">-</div>
            <div class="ui-diceButtons ui-diceConfirmButton">확정</div>
        </div>
    </div>
</div>

<div class="ui-sheet ui-diceScene-result fadeIn">
    <div class="ui-titleArea">
        <div class="ui-titleText">Choice Result</div>
        <div class="ui-choiceMessage-value"></div>
    </div>

    <table class="ui-resultTable">
        <tr>
            <th>Place</th>
            <th>Name</th>
            <th>Choice</th>
            <th>Hand</th>
            <th>Reward</th>
        </tr>
        <tr>
            <td class="text-outline" style="color: #ff1b1b;">1st</td>
            <td>Player 1</td>
            <td></td>
            <td class="text-outline"></td>
            <td>16</td>
        </tr>
        <tr>
            <td class="text-outline" style="color: #ffd700;">2nd</td>
            <td></td>
            <td></td>
            <td class="text-outline"></td>
            <td>12</td>
        </tr>
        <tr>
            <td class="text-outline" style="color: #d5d5d5;">3rd</td>
            <td></td>
            <td></td>
            <td class="text-outline">Full House</td>
            <td>8</td>
        </tr>
        <tr>
            <td class="text-outline" style="color: #954c4c;">4th</td>
            <td>Player 2</td>
            <td>10 (-18)</td>
            <td class="text-outline">S. Straight</td>
            <td>4</td>
        </tr>
    </table>
</div>