<div class="ui-sheet ui-gameScene-default">
    <div class="ui-topFloating">
        <div class="ui-round"></div>
        <div class="ui-enemycount"></div>
    </div>
    <div class="ui-bottomFloating">
        <div class="ui-goldArea">
            <div class="ui-goldicon"></div>
            <div class="ui-gold"></div>
        </div>
        <div class="ui-hpArea">
            <div class="ui-hpArea-row ui-hpArea-row1">
                <div class="ui-hpArea-player ui-hpArea-player1">
                    <div class="ui-hpArea-playerText" style="color: lightgreen;">1P</div>
                    <div class="ui-hpArea-playerhp" style="border-color: lightgreen;">
                        <div class="ui-hpArea-playerhp-bar" id="playerhp-1"></div>
                    </div>
                </div>
                <div class="ui-hpArea-player ui-hpArea-player2">
                    <div class="ui-hpArea-playerText" style="color: lightcoral;">2P</div>
                    <div class="ui-hpArea-playerhp" style="border-color: lightcoral;">
                        <div class="ui-hpArea-playerhp-bar" id="playerhp-2"></div>
                    </div>
                </div>
            </div>
            <div class="ui-hpArea-row ui-hpArea-row2">
                <div class="ui-hpArea-player ui-hpArea-player3">
                    <div class="ui-hpArea-playerText" style="color: lightskyblue;">3P</div>
                    <div class="ui-hpArea-playerhp" style="border-color: lightskyblue;">
                        <div class="ui-hpArea-playerhp-bar" id="playerhp-3"></div>
                    </div>
                </div>
                <div class="ui-hpArea-player ui-hpArea-player4">
                    <div class="ui-hpArea-playerText" style="color: lightgoldenrodyellow;">4P</div>
                    <div class="ui-hpArea-playerhp" style="border-color: lightgoldenrodyellow;">
                        <div class="ui-hpArea-playerhp-bar" id="playerhp-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>