<div class="ui-sheet ui-gameScene-topFloating">
    <div class="ui-gameScene-topFloating-wrapper">
        <div class="ui-topFloating-eachWrapper ui-roundWrapper">
            <div class="ui-topFloating-text ui-round-text">Round</div>
            <div class="ui-topFloating-value ui-round-value">1</div>
        </div>
        <div class="ui-topFloating-eachWrapper ui-monsterCountWrapper">
            <div class="ui-topFloating-text ui-monsterCount-text">Monsters</div>
            <div class="ui-topFloating-value ui-monsterCount-value">0</div>
        </div>
        <div class="ui-topFloating-eachWrapper ui-phaseWrapper">
            <div class="ui-topFloating-text ui-phase-text">Phase</div>
            <div class="ui-topFloating-value ui-phase-value">Dice</div>
        </div>
        <div class="ui-topFloating-eachWrapper ui-timelimitWrapper">
            <div class="ui-topFloating-text ui-phaseTimelimit-text">Time Limit</div>
            <div class="ui-topFloating-value ui-phaseTimelimit-value">30</div>
        </div>
    </div>
</div>

<div class="ui-sheet ui-gameScene-topRightFloating">
    <div class="ui-gameScene-topRightFloating-case ">
        <div class="ui-gameScene-topRightFloating-wrapper">
            <div class="ui-topRightFloating-eachWrapper ui-bgm">
                <div class="ui-bgm-typeText">BGM</div>
                <div class="ui-bgm ui-mute"></div>
                <form class="ui-bgm ui-volume">
                    <input class="ui-bgm ui-volume-volumeSlider" type="range" value="50"/>
                </form>
            </div>
            <div class="ui-topRightFloating-eachWrapper ui-sfx">
                <div class="ui-sfx-typeText">SFX</div>
                <div class="ui-sfx ui-mute"></div>
                <form class="ui-sfx ui-volume">
                    <input class="ui-sfx ui-volume-volumeSlider" type="range" value="50"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ui-sheet ui-gameScene-midFloating">
    <div class="ui-bossArea">
        <div class="ui-bossArea-bosshp">
            <div class="ui-bossArea-bosshp-bar"></div>
            <div class="ui-bossArea-bosshp-text text-outline"></div>
        </div>
    </div>
</div>

<div class="ui-sheet ui-gameScene-bottomFloating">
    <div class="ui-chatArea">
        <ul class="ui-chatMessages fadeOut">

        </ul>
        <div class="ui-chatInputArea">
            <input type="text" class="ui-chatInput">
        </div>
    </div>
    
    <div class="ui-unitInfoArea">
        <div class="ui-unitInfoArea-unitImage"></div>
        <div class="ui-unitInfoArea-unitDetails">
            <div class="ui-unitInfoArea-unitName text-outline"></div>
            <div class="ui-unitInfoArea-detailRows">
                <div class="ui-unitInfoArea-unitStat ui-unitInfoArea-unitAtk">
                    <img class="ui-unitInfoArea-icon" src="../src/assets/images/icons/icon1.png">
                    <span class="ui-unitInfoArea-value ui-unitInfoArea-unitAtk-value"></span>
                </div>
                <div class="ui-unitInfoArea-unitStat ui-unitInfoArea-unitAspd">
                    <img class="ui-unitInfoArea-icon" src="../src/assets/images/icons/icon17.png">
                    <span class="ui-unitInfoArea-value ui-unitInfoArea-unitAspd-value"></span>
                </div>
            </div>
            <div class="ui-unitInfoArea-detailRows">
                <div class="ui-unitInfoArea-unitStat ui-unitInfoArea-unitRange">
                    <img class="ui-unitInfoArea-icon" src="../src/assets/images/icons/icon4.png">
                    <span class="ui-unitInfoArea-value ui-unitInfoArea-unitRange-value"></span>
                </div>
                <div class="ui-unitInfoArea-unitStat ui-unitInfoArea-unitPenetration">
                    <img class="ui-unitInfoArea-icon" src="../src/assets/images/icons/icon8.png">
                    <span class="ui-unitInfoArea-value ui-unitInfoArea-unitPenetration-value"></span>
                </div>
            </div>
        </div>
        <div class="ui-unitInfoArea-unitAttackType text-outline"></div>
        <div class="ui-unitInfoArea-unitPassiveSkills"></div>
    </div>

    <div class="ui-goldArea">
        <img class="ui-goldicon" src="../src/assets/images/gold.png">
        <div class="ui-gold">0</div>
    </div>
    <div class="ui-hpArea">
        <div class="ui-hpArea-row ui-hpArea-row1">
            <div class="ui-hpArea-player ui-hpArea-player1 text-outline-gold">
                <div class="ui-hpArea-playerText" style="color: white;">1P</div>
                <div class="ui-hpArea-playerhp" style="border-color: white;">
                    <div class="ui-hpArea-playerhp-bar" id="playerhp-1" style="background-color: white;"></div>
                    <div class="ui-hpArea-playerhp-text" id="playerhp-1"></div>
                </div>
            </div>
            <div class="ui-hpArea-player ui-hpArea-player2">
                <div class="ui-hpArea-playerText" style="color: lightcoral">2P</div>
                <div class="ui-hpArea-playerhp" style="border-color: lightcoral;">
                    <div class="ui-hpArea-playerhp-bar" id="playerhp-2" style="background-color: lightcoral;"></div>
                    <div class="ui-hpArea-playerhp-text" id="playerhp-2"></div>
                </div>
            </div>
        </div>
        <div class="ui-hpArea-row ui-hpArea-row2">
            <div class="ui-hpArea-player ui-hpArea-player3">
                <div class="ui-hpArea-playerText" style="color: lightskyblue;">3P</div>
                <div class="ui-hpArea-playerhp" style="border-color: lightskyblue;">
                    <div class="ui-hpArea-playerhp-bar" id="playerhp-3" style="background-color: lightskyblue;"></div>
                    <div class="ui-hpArea-playerhp-text" id="playerhp-3"></div>
                </div>
            </div>
            <div class="ui-hpArea-player ui-hpArea-player4">
                <div class="ui-hpArea-playerText" style="color: lightgreen;">4P</div>
                <div class="ui-hpArea-playerhp" style="border-color: lightgreen;">
                    <div class="ui-hpArea-playerhp-bar" id="playerhp-4" style="background-color: lightgreen;"></div>
                    <div class="ui-hpArea-playerhp-text" id="playerhp-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-unitArea">
        <div class="ui-unitArea-unitDetail">
            <div class="ui-unitArea-unitTierText text-outline" style="color: #ff1b1b;">1T</div>
            <div class="ui-unitArea-unitTierCount">0 <span class="ui-unitArea-unitTierBonus">(+0%)</span></div>
        </div>
        <div class="ui-unitArea-unitDetail">
            <div class="ui-unitArea-unitTierText text-outline" style="color: #ffd700;">2T</div>
            <div class="ui-unitArea-unitTierCount">0 <span class="ui-unitArea-unitTierBonus">(+0%)</span></div>
        </div>
        <div class="ui-unitArea-unitDetail">
            <div class="ui-unitArea-unitTierText text-outline" style="color: #d5d5d5;">3T</div>
            <div class="ui-unitArea-unitTierCount">0 <span class="ui-unitArea-unitTierBonus">(+0%)</span></div>
        </div>
        <div class="ui-unitArea-unitDetail">
            <div class="ui-unitArea-unitTierText text-outline" style="color: #954c4c;">4T</div>
            <div class="ui-unitArea-unitTierCount">0 <span class="ui-unitArea-unitTierBonus">(+0%)</span></div>
        </div>
    </div>

    <div class="ui-itemArea">
        <div class="ui-itemArea-text">Items</div>
        <ul class="ui-itemArea-itemList">
        </ul>
    </div>
    
    <div class="ui-itemOverallArea">
        <ul class="ui-itemOverallArea-overall">
            <li class="ui-itemOverallArea-overall-atk">ATK: +0%</li>
            <li class="ui-itemOverallArea-overall-aspd">SPD: +0%</li>
            <li class="ui-itemOverallArea-overall-pen">PEN: +0%p</li>
        </ul>
    </div>
</div>
