<div class="ui-sheet ui-gameScene-topFloating">
    <div class="ui-gameScene-topFloating-wrapper">
        <div class="ui-round">Round : <span class="ui-round-value">1</span></div>
        <div class="ui-enemycount">Monsters : <span class="ui-enemycount-value">25</span></div>
    </div>
</div>

<div class="ui-sheet ui-gameScene-bottomFloating">
    <div class="ui-goldArea">
        <img class="ui-goldicon" src="../src/assets/images/gold.png">
        <div class="ui-gold">40</div>
    </div>
    <div class="ui-hpArea">
        <div class="ui-hpArea-row ui-hpArea-row1">
            <div class="ui-hpArea-player ui-hpArea-player1">
                <div class="ui-hpArea-playerText" style="color: lightgreen;">1P</div>
                <div class="ui-hpArea-playerhp" style="border-color: lightgreen;">
                    <div class="ui-hpArea-playerhp-bar" id="playerhp-1" style="background-color: lightgreen;"></div>
                </div>
            </div>
            <div class="ui-hpArea-player ui-hpArea-player2">
                <div class="ui-hpArea-playerText" style="color: lightcoral;">2P</div>
                <div class="ui-hpArea-playerhp" style="border-color: lightcoral;">
                    <div class="ui-hpArea-playerhp-bar" id="playerhp-2" style="background-color: lightcoral;"></div>
                </div>
            </div>
        </div>
        <div class="ui-hpArea-row ui-hpArea-row2">
            <div class="ui-hpArea-player ui-hpArea-player3">
                <div class="ui-hpArea-playerText" style="color: lightskyblue;">3P</div>
                <div class="ui-hpArea-playerhp" style="border-color: lightskyblue;">
                    <div class="ui-hpArea-playerhp-bar" id="playerhp-3" style="background-color: lightskyblue;"></div>
                </div>
            </div>
            <div class="ui-hpArea-player ui-hpArea-player4">
                <div class="ui-hpArea-playerText" style="color: lightgoldenrodyellow;">4P</div>
                <div class="ui-hpArea-playerhp" style="border-color: lightgoldenrodyellow;">
                    <div class="ui-hpArea-playerhp-bar" id="playerhp-4" style="background-color: lightgoldenrodyellow;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-unitArea">
        <div class="ui-unitArea-unitDetail">
            <div class="ui-unitArea-unitTierText text-outline" style="color: #ff1b1b;">1T</div>
            <div class="ui-unitArea-unitTierCount">0 <span class="ui-unitArea-unitTierBonus">(+0.0%)</span></div>
        </div>
        <div class="ui-unitArea-unitDetail">
            <div class="ui-unitArea-unitTierText text-outline" style="color: #ffd700;">2T</div>
            <div class="ui-unitArea-unitTierCount">0 <span class="ui-unitArea-unitTierBonus">(+0.0%)</span></div>
        </div>
        <div class="ui-unitArea-unitDetail">
            <div class="ui-unitArea-unitTierText text-outline" style="color: #d5d5d5;">3T</div>
            <div class="ui-unitArea-unitTierCount">0 <span class="ui-unitArea-unitTierBonus">(+0.0%)</span></div>
        </div>
        <div class="ui-unitArea-unitDetail">
            <div class="ui-unitArea-unitTierText text-outline" style="color: #954c4c;">4T</div>
            <div class="ui-unitArea-unitTierCount">0 <span class="ui-unitArea-unitTierBonus">(+0.0%)</span></div>
        </div>
    </div>

    <div class="ui-itemArea">
        <div class="ui-itemArea-text">Upgrades</div>
        <ul class="ui-itemArea-itemList">
            
        </ul>
    </div>
</div>