<div class="ui-sheet ui-mainScene-default">
    <div class="logo">
        Game Logo
    </div>
    <input type="text" class="multi-name" placeholder="영어 12글자 / 한글 6글자">
    <button class="multi-matchmaking">시작</button>
</div>