<div class="ui-sheet ui-mainScene-default">
    <div class="logo text-outline-bold">
        Yacht<br>
        Defenders
    </div>
    <input type="text" class="multi-name" placeholder="닉네임" maxlength="12"><br>
    <div class="mainScene-message text-outline"></div>
    <button class="mainButtons play-singleplayer">Singleplayer</button><br>
    <button class="mainButtons play-multiplayer">Multiplayer</button><br>
    <button class="mainButtons show-rankings">Rankings</button>
    <div class="bottom-info">Version: 1.1<br>Team Roll & Dice</div>
</div>

<div class="ui-sheet ui-rankings">
    <img class="ui-rankings-close" src="../src/assets/images/close.png">
    <div class="ui-rankings-title">Rankings</div>
    <div class="ui-rankings-radioSelection">
        <input type="radio" id="radio-cur" name="version" class="ui-radio-currentVersion" checked><label for="radio-cur">현재 버전</label> <input type="radio" id="radio-all" name="version" class="ui-radio-allVersion"><label for="radio-all">전체 버전</label>
    </div>
    <div class="ui-rankings-rankingList">
        <table class="ui-rankings-rankingList-table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Rounds Cleared</th>
                <th>Unit Received</th>
                <th>Hand Completed</th>
                <th>Played At</th>
            </tr>
            <tr>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td class="td-big"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<div class="ui-sheet ui-gameover">
    <div class="ui-gameover-title">Result</div>

    <div class="ui-gameover-result">
        <div class="ui-gameover-result-winner-title">Winner</div>
        <div class="ui-gameover-result-winner">
            <div class="ui-gameover-result-place" style="color: #ff1b1b;">1st</div>
            <div class="ui-gameover-result-name"></div>
            <div class="ui-gameover-result-roundCleared"></div>
            <div class="ui-gameover-result-unitCount"></div>
            <div class="ui-gameover-result-handCount"></div>
        </div>
        <div class="ui-gameover-result-others-title">Others</div>
        <ul class="ui-gameover-result-others">
            <li class="ui-gameover-result-player">
                <div class="ui-gameover-result-place" style="color: #ffd700;">2nd</div>
                <div class="ui-gameover-result-name"></div>
                <div class="ui-gameover-result-roundCleared"></div>
                <div class="ui-gameover-result-unitCount"></div>
                <div class="ui-gameover-result-handCount"></div>
            </li>
            <li class="ui-gameover-result-player">
                <div class="ui-gameover-result-place" style="color: #d5d5d5;">3rd</div>
                <div class="ui-gameover-result-name"></div>
                <div class="ui-gameover-result-roundCleared"></div>
                <div class="ui-gameover-result-unitCount"></div>
                <div class="ui-gameover-result-handCount"></div>
            </li>
            <li class="ui-gameover-result-player">
                <div class="ui-gameover-result-place" style="color: #954c4c;">4th</div>
                <div class="ui-gameover-result-name"></div>
                <div class="ui-gameover-result-roundCleared"></div>
                <div class="ui-gameover-result-unitCount"></div>
                <div class="ui-gameover-result-handCount"></div>
            </li>
        </ul>
    </div>
</div>