<div class="ui-sheet ui-mainScene-default">
    <div class="logo text-outline-bold">
        Yacht<br>
        Defenders
    </div>
    <input type="text" class="multi-name" placeholder="닉네임" maxlength="10"><br>
    <div class="mainScene-message text-outline"></div>
    <button class="mainButtons play-singleplayer">Singleplayer</button><br>
    <button class="mainButtons play-multiplayer">Multiplayer</button><br>
    <button class="mainButtons show-rankings">Rankings</button>
</div>

<div class="ui-sheet ui-rankings">
    <img class="ui-rankings-close" src="../src/assets/images/close.png">
    <div class="ui-rankings-title">Rankings</div>
    <div class="ui-rankings-rankingList">
        <table class="ui-rankings-rankingList-table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Rounds Cleared</th>
                <th>Unit Received</th>
                <th>Hand Completed</th>
                <th>Played At</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>